[submodule "libraries/json/lib"]
	path = libraries/json/lib
	url = https://github.com/nlohmann/json.git
[submodule "libraries/unit_test_framework"]
	path = libraries/unit_test_framework
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "libraries/unitmock_test_framework"]
	path = libraries/unitmock_test_framework
	url = https://github.com/ThrowTheSwitch/CMock.git
