repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks # Enables fast path
      rev: v4.5.0 # This is ignored for fast path detection
      hooks:
          - id: check-yaml
          - id: check-case-conflict
    - repo: local
      hooks:
          - id: format
            name: format
            language: system
            entry: ./misc/pre-commit/justcheck.sh