pytest
parametrize_from_file
pytest-reportlog
pytest-html
cython
flake8
black
sphinx
sphinxcontrib-mermaid
sphinx-rtd-theme
myst_parser
linkify-it-py
docutils
jinja2
markdown-it-py
mdit-py-plugins
sphinx-rtd-dark-mode
sphinx-autodoc2
breathe
sphinx-autobuild
sphinxcontrib-bibtex
sphinx-proof
sphinx-togglebutton
sphinxcontrib-svg2pdfconverter
sphinx-material
tqdm
rich