pytest
parametrize_from_file
pytest-reportlog
pytest-html
cython
tqdm
rich
lizard
mkdocs-include-files
mkdocs-material
mdx-include 
mkdocs-github-admonitions-plugin
mkdocs-redirects
cairosvg
mkdocstrings[python]
griffe-typingdoc
mkdocs-macros-plugin
markdown-include-variants
pymdown-extensions
mkdoxy