pytest
parametrize_from_file
pytest-reportlog
pytest-html
cython
tqdm
rich
lizard
mkdocs-material
mdx-include 
mkdocs-github-admonitions-plugin
mkdocs-redirects
cairosvg
mkdocs-autorefs
mkdocstrings[python]
griffe-typingdoc
mkdocs-macros-plugin
markdown-include-variants
pymdown-extensions
mkdoxy
mkdocs-awesome-nav
mkdocs-bibtex
mkdocstrings-c
mkdocs-monorepo-plugin
mdformat
mdformat-mkdocs
mkdocs-auto-refresh-build-pages
mdformat-front-matters
