:root {
  --md-admonition-icon--test-card: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>test-tube</title><path d="M7,2V4H8V18A4,4 0 0,0 12,22A4,4 0 0,0 16,18V4H17V2H7M11,16C10.4,16 10,15.6 10,15C10,14.4 10.4,14 11,14C11.6,14 12,14.4 12,15C12,15.6 11.6,16 11,16M13,12C12.4,12 12,11.6 12,11C12,10.4 12.4,10 13,10C13.6,10 14,10.4 14,11C14,11.6 13.6,12 13,12M14,7H10V4H14V7Z" /></svg>');
  --md-admonition-icon--requirement-card: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>receipt-text-check</title><path d="M18.25 22L15.5 19L16.66 17.82L18.25 19.41L21.84 15.82L23 17.23M19.5 3.5L18 2L16.5 3.5L15 2L13.5 3.5L12 2L10.5 3.5L9 2L7.5 3.5L6 2L4.5 3.5L3 2V22L4.5 20.5L6 22L7.5 20.5L9 22L10.5 20.5L12 22L13.26 20.74C13.09 20.18 13 19.59 13 19C13 18.32 13.12 17.64 13.34 17H6V15H14.53C15.67 13.73 17.29 13 19 13C19.68 13 20.36 13.12 21 13.34V2L19.5 3.5M18 13H6V11H18V13M18 9H6V7H18V9Z" /></svg>');
  --md-admonition-icon--example:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M437.5 91.1C452.5 73.9 474.2 64 497.1 64C540.7 64 576.1 99.4 576.1 143C576.1 165.8 566.2 187.6 549 202.6L347.7 377.8L337 367L273 303L262.2 292.3L437.5 91.1zM225.1 323C226 324 252 350 303 401L316.9 414.9L299.8 489.1C295.9 506.2 282.9 519.8 266 524.5L96.2 572L188.5 479.7C189.7 479.8 190.8 479.9 192 479.9C209.7 479.9 224 465.6 224 447.9C224 430.2 209.7 415.9 192 415.9C174.3 415.9 160 430.2 160 447.9C160 449.1 160.1 450.3 160.2 451.4L67.9 543.8L115.5 374C120.2 357.1 133.8 344.1 150.9 340.2L225.1 323z"/></svg>');
  --md-admonition-icon--proof:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M437.5 91.1C452.5 73.9 474.2 64 497.1 64C540.7 64 576.1 99.4 576.1 143C576.1 165.8 566.2 187.6 549 202.6L347.7 377.8L337 367L273 303L262.2 292.3L437.5 91.1zM225.1 323C226 324 252 350 303 401L316.9 414.9L299.8 489.1C295.9 506.2 282.9 519.8 266 524.5L96.2 572L188.5 479.7C189.7 479.8 190.8 479.9 192 479.9C209.7 479.9 224 465.6 224 447.9C224 430.2 209.7 415.9 192 415.9C174.3 415.9 160 430.2 160 447.9C160 449.1 160.1 450.3 160.2 451.4L67.9 543.8L115.5 374C120.2 357.1 133.8 344.1 150.9 340.2L225.1 323z"/></svg>');
  --md-admonition-icon--lemma:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M437.5 91.1C452.5 73.9 474.2 64 497.1 64C540.7 64 576.1 99.4 576.1 143C576.1 165.8 566.2 187.6 549 202.6L347.7 377.8L337 367L273 303L262.2 292.3L437.5 91.1zM225.1 323C226 324 252 350 303 401L316.9 414.9L299.8 489.1C295.9 506.2 282.9 519.8 266 524.5L96.2 572L188.5 479.7C189.7 479.8 190.8 479.9 192 479.9C209.7 479.9 224 465.6 224 447.9C224 430.2 209.7 415.9 192 415.9C174.3 415.9 160 430.2 160 447.9C160 449.1 160.1 450.3 160.2 451.4L67.9 543.8L115.5 374C120.2 357.1 133.8 344.1 150.9 340.2L225.1 323z"/></svg>');
  --md-admonition-icon--theorem:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M437.5 91.1C452.5 73.9 474.2 64 497.1 64C540.7 64 576.1 99.4 576.1 143C576.1 165.8 566.2 187.6 549 202.6L347.7 377.8L337 367L273 303L262.2 292.3L437.5 91.1zM225.1 323C226 324 252 350 303 401L316.9 414.9L299.8 489.1C295.9 506.2 282.9 519.8 266 524.5L96.2 572L188.5 479.7C189.7 479.8 190.8 479.9 192 479.9C209.7 479.9 224 465.6 224 447.9C224 430.2 209.7 415.9 192 415.9C174.3 415.9 160 430.2 160 447.9C160 449.1 160.1 450.3 160.2 451.4L67.9 543.8L115.5 374C120.2 357.1 133.8 344.1 150.9 340.2L225.1 323z"/></svg>');
  --md-admonition-icon--definition:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M192 576L512 576C529.7 576 544 561.7 544 544C544 526.3 529.7 512 512 512L512 445.3C530.6 438.7 544 420.9 544 400L544 112C544 85.5 522.5 64 496 64L192 64C139 64 96 107 96 160L96 480C96 533 139 576 192 576zM160 480C160 462.3 174.3 448 192 448L448 448L448 512L192 512C174.3 512 160 497.7 160 480zM370.1 163.2C372.7 160.6 376.8 160.1 380 162.1C412.1 182.1 433.4 217.7 433.4 258.3C433.4 320.9 382.7 371.6 320.1 371.6C257.5 371.6 206.7 320.9 206.7 258.3C206.7 217.7 228.1 182.1 260.1 162.1C263.2 160.1 267.3 160.6 270 163.2C272.7 165.8 273.1 169.9 271.2 173C266 181.6 263 191.7 263 202.5C263 217.6 268.9 231.3 278.5 241.6C281 244.3 281.4 248.3 279.4 251.3C274.7 258.7 272 267.4 272 276.8C272 298.4 286.3 316.7 306 322.7L307 297.9C299.9 293.5 295.2 285.7 295.2 276.8C295.2 267.2 300.7 258.8 308.7 254.7L312 172.9C312.2 168.6 315.7 165.2 320 165.2C324.3 165.2 327.8 168.6 328 172.9L331.3 254.7C339.3 258.8 344.8 267.1 344.8 276.8C344.8 285.7 340.1 293.5 333 297.9L334 322.7C353.6 316.7 367.9 298.6 368 277.1L368 276.5C367.9 267.2 365.3 258.6 360.6 251.3C358.7 248.2 359 244.2 361.5 241.6C371.1 231.4 377 217.7 377 202.5C377 191.7 374 181.6 368.8 173C366.9 169.8 367.4 165.8 370 163.2z"/></svg>');
  --md-admonition-icon--example:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M437.5 91.1C452.5 73.9 474.2 64 497.1 64C540.7 64 576.1 99.4 576.1 143C576.1 165.8 566.2 187.6 549 202.6L347.7 377.8L337 367L273 303L262.2 292.3L437.5 91.1zM225.1 323C226 324 252 350 303 401L316.9 414.9L299.8 489.1C295.9 506.2 282.9 519.8 266 524.5L96.2 572L188.5 479.7C189.7 479.8 190.8 479.9 192 479.9C209.7 479.9 224 465.6 224 447.9C224 430.2 209.7 415.9 192 415.9C174.3 415.9 160 430.2 160 447.9C160 449.1 160.1 450.3 160.2 451.4L67.9 543.8L115.5 374C120.2 357.1 133.8 344.1 150.9 340.2L225.1 323z"/></svg>');
}
.md-typeset .admonition.test-card,
.md-typeset details.test-card {
  border-color:#FF4136;
}
.md-typeset .test-card > .admonition-title,
.md-typeset .test-card > summary {
  background-color: rgba(255, 65, 54, 0.1);
  border-color: rgb(255, 65, 54);
}
.md-typeset .test-card > .admonition-title::before,
.md-typeset .test-card > summary::before {
  background-color: rgb(255, 65, 54);
  -webkit-mask-image: var(--md-admonition-icon--test-card);
          mask-image: var(--md-admonition-icon--test-card);
}

/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.md-typeset .admonition.requirement-card,
.md-typeset details.requirement-card {
  border-color:#F012BE; 
}
.md-typeset .requirement-card > .admonition-title,
.md-typeset .requirement-card > summary {
  background-color: rgba(240, 18, 190, 0.1);
  border-color: rgb(240, 18, 190);
}
.md-typeset .requirement-card > .admonition-title::before,
.md-typeset .requirement-card > summary::before {
  background-color: rgb(240, 18, 190);
  -webkit-mask-image: var(--md-admonition-icon--requirement-card);
          mask-image: var(--md-admonition-icon--requirement-card);
}

/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.md-typeset .admonition.example,
.md-typeset details.example {
  border-color:#F012BE; 
}
.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: rgba(240, 18, 190, 0.1);
  border-color: rgb(240, 18, 190);
}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {
  background-color: rgb(240, 18, 190);
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}

/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.md-typeset .admonition.theorem,
.md-typeset details.theorem {
  border-color:#F012BE; 
}
.md-typeset .theorem > .admonition-title,
.md-typeset .theorem > summary {
  background-color: rgba(240, 18, 190, 0.1);
  border-color: rgb(240, 18, 190);
}
.md-typeset .theorem > .admonition-title::before,
.md-typeset .theorem > summary::before {
  background-color: rgb(240, 18, 190);
  -webkit-mask-image: var(--md-admonition-icon--theorem);
          mask-image: var(--md-admonition-icon--theorem);
}

/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.md-typeset .admonition.lemma,
.md-typeset details.lemma {
  border-color:#F012BE; 
}
.md-typeset .lemma > .admonition-title,
.md-typeset .lemma > summary {
  background-color: rgba(240, 18, 190, 0.1);
  border-color: rgb(240, 18, 190);
}
.md-typeset .lemma > .admonition-title::before,
.md-typeset .lemma > summary::before {
  background-color: rgb(240, 18, 190);
  -webkit-mask-image: var(--md-admonition-icon--lemma);
          mask-image: var(--md-admonition-icon--lemma);
}

/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color:#F012BE; 
}
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  background-color: rgba(240, 18, 190, 0.1);
  border-color: rgb(240, 18, 190);
}
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
  background-color: rgb(240, 18, 190);
  -webkit-mask-image: var(--md-admonition-icon--definition);
          mask-image: var(--md-admonition-icon--definition);
}

/************************************************************************************************/
/************************************************************************************************/
/************************************************************************************************/

.md-typeset .admonition.proof,
.md-typeset details.proof {
  border-color:#F012BE; 
}
.md-typeset .proof > .admonition-title,
.md-typeset .proof > summary {
  background-color: rgba(240, 18, 190, 0.1);
  border-color: rgb(240, 18, 190);
}
.md-typeset .proof > .admonition-title::before,
.md-typeset .proof > summary::before {
  background-color: rgb(240, 18, 190);
  -webkit-mask-image: var(--md-admonition-icon--proof);
          mask-image: var(--md-admonition-icon--proof);
}
